
*{
    padding: 0;
    margin: 0;
}
.navbar{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav_links{
    display: flex;
    gap: 30px;
}

.nav_links span{
    border: none;
    outline: none;
    background-color: lightcoral;
    padding: 0.3rem 1.4rem;
    border-radius: 3px;
    box-shadow: 0 0 5px;
}